.gpress-menu {
  width: 10rem;
  background: #191818;
  font-size: 1.05rem;
  height: 100vh;
  font-family: Helvetica,Arial,sans-serif;
  overflow-y: auto;
}

.gpress-menu .menu-list {
  line-height: 1.75;
}
.gpress-menu .menu-list a {
  border-radius: 0;
  padding: 0.5em 0.85em;
  color: #999;
}

.gpress-menu .menu-list a:hover {
  background: #333;
}
.gpress-menu .menu-list .menu-heading {
  color: #fff;
  padding: 0.4em 0.68em;
  font-size: 125%;
  font-weight: 400;
  letter-spacing: .1em;
}
.gpress-menu ul.menu-list:not(:first-child){
  border-top: 1px solid #333;
}
.navbar-burger {
    background-color: #333; /* 背景色为黑色 */
    position: fixed;
    top: 0rem; /* 与顶部的距离为1rem */
    left: 0rem; /* 与左侧的距离为1rem */
    font-size: 11px;
    height: 4em;
    padding: 1em;
    width: 4em;
    z-index: 10;
  }

  #navbarMenu.active .navbar-burger {
    left: 160px;
  }
  
.navbar-burger span{
  background-color: #fff;
  height: 0.3em;
  pointer-events: none;
  transition: .5s;
}
.navbar-burger:hover {
  background-color: #333; /* 鼠标悬停时的背景颜色 */
}