html,
body {
	height: 100%;
	overflow: hidden;
}
.pos-sticky{
	position: sticky;
	top: 0;
	right: 0;
	gap: 20px;
	backdrop-filter: blur(1px);
	background-color: rgba(255, 255, 255, 0.8);
}
.container {
	max-width: 100% !important;
	width: 100% !important;
}
.flex1{
	flex: 1 !important;
}
.select-disabled{
	pointer-events: none;
	border: none;
	background-color: #f5f5f5;
	box-shadow: none;
	cursor: not-allowed;
	color: #7a7a7a;
}
.w-e-full-screen-container{
	position: absolute !important;
}
.full-screen{
	position: absolute;
	width: 100% !important;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
}

#main,
#layout {
	background-color: #ffffff;
	height: 100%;
}

#main .section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 10px 20px 0px 20px !important;
	box-sizing: border-box;
}


#main .section .container {
	width: 100%;
	flex: 1;
	overflow: hidden;
	background: white;
	/*box-shadow: 2px 2px 5px #ededed;*/
	box-sizing: border-box;
	padding: 20px 10px 0px 20px;
	margin-bottom: 0px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.flex-center {
	align-items: center;
}

.label:not(:last-child) {
	margin-bottom: 0;
}

.button {
	margin-right: 10px !important;
	vertical-align: unset !important;
}

#main .section .container .table-content {
	width: 100%;
	flex: 1;
	overflow: auto;
}

.container table th,
.container table td {
	width: fit-content;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	vertical-align: middle !important;
	max-width: 300px;
}

.display-flex {
	display: flex;
	align-items: center;
}

.pagination {
	margin: 0 !important;
}

.flex-center .field-left {
	text-align: right;
	margin-right: 10px;
}

.welcome-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pagination-link.is-current {
	background-color: #3e8ed0 !important;
	border: 1px solid #3e8ed0 !important;
}

.welcome-wrapper .welcome-img {
	width: 30%;
}

.welcome-wrapper .welcome-txt {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 20px;
	width: 50%;
	text-align: center;
	text-indent: 12%;
}
#markdown-container{
	width: 97%;
}
#editor—wrapper {
	border: 1px solid #ccc;
	z-index: 100;
	width: 97%;
	/* 按需定义 */
}

#toolbar-container {
	border-bottom: 1px solid #ccc;
}

#editor-container {
	height: 500px;
}
.save-ul{width: 100%;}
.save-ul li{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.save-ul li .left{
	width: 56px;
	min-width: 56px;
	font-size: 14px;
	color: rgba(0, 0, 0, .88);
	margin-right: 10px;
	text-align: right;
	/*text-align-last: justify;*/
	font-weight: normal;
}
.save-ul li .right{
	width: 100%;
	font-size: 14px;
}
.save-ul li .right input,.save-ul li .right select,.save-ul li .right .upload-modlue{width:90%}
.upload-modlue .img-box,.upload-modlue .zip-box{
	display: none;
}
.upload-modlue .img-preview{
	width: auto;
	height: 70px;
	border: 1px dashed #dbdbdb;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}
.upload-modlue .img-preview img{
	width: 100%;
	height: auto;
}
.upload-modlue .img-preview .delete-btn{
	position: absolute;
	width: 100%;
	height: 30px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	cursor: pointer;
}
.upload-modlue .img-preview .delete-btn .iconfont{
	color: white;
	font-size: 14px;
	margin-top: 8px;
}
.upload-box,.upload-box2{
	/*width: 200px;*/
	/*height: 200px;*/
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px dashed #dbdbdb;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 4px;
}
.upload-box .iconfont,.upload-box2 .iconfont{
	font-size: 30px;
	color: #999999;
}
.upload-box p,.upload-box2 p{
	font-size: 14px;
	color: #999999;
}
.upload-box input,.upload-box2 input{
	position: absolute;
	width: auto;
	height: 70px;
	opacity: 0;
	z-index: 9;
	left: 0;
	top: 0;
	cursor: pointer;
}
.upload-modlue .zip-box .zip-preview{
	width: 100%;
	display: flex;
	align-items: center;
}
.upload-modlue .zip-box .zip-preview .delete-btn2{
	cursor: pointer;
}
/* 下拉框 */
.dropdown-box{
	position: relative;
	width: 100%;
}
.dropdown-box .dropdown-val{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}
.dropdown-box .dropdown-val .input-c{
	border: none;
	flex: 1;
	cursor: pointer;
}
.dropdown-box .dropdown-val .iconfont{
	color: #999999;
	font-size: 18px;
	margin-right: 10px;
}
.dropdown-box .dropdown-list{
	position: absolute;
	width: 100%;
	left: 0;
	top: 40px;
	border-radius: .375em;
	box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
	z-index: 99;
	background-color: white;
	padding: 10px 0;
	display: none;
	max-height: 260px;
	overflow-y: auto;
}
.dropdown-box .dropdown-list li{
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: 0;
	color: #666666;
}
.dropdown-box .dropdown-list li.active{
	background-color: #00d1b2;
	color: white;
}
.dropdown-box .dropdown-list li:not(.active):hover{
	background-color: #eff1fa;
	color: #3850b7;
}
/*extend*/

/*全局设置滚动条样式
	   定义滚动条高宽及背景
         高宽分别对应横竖滚动条的尺寸*/
   ::-webkit-scrollbar
   {
	   width:6px;
	   height:6px;


   }
   ::-webkit-scrollbar-thumb{
	   -webkit-transition: background 1.6s ease;
	   -moz-transition: background 1.6s ease;
	   -ms-transition: background 1.6s ease;
	   -o-transition: background 1.6s ease;
	   transition: background 1.6s ease;
   }
/*定义滑块
 内阴影+圆角*/
/*  鼠标hover的时候才显示滚动条 */
:hover::-webkit-scrollbar-thumb
{
	border-radius:6px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);

	-webkit-transition: background 1.6s ease;
	-moz-transition: background 1.6s ease;
	-ms-transition: background 1.6s ease;
	-o-transition: background 1.6s ease;
	transition: background 1.6s ease;
	background:#e8e8e8;
}
.table  thead th{background: #f7f7f7;font-size: 14px;border-bottom:1px solid #e8e8e8;}
.table  thead th:nth-child(1){border-top-left-radius: 10px;}
.table  thead th:first-child(1){border-top-left-radius: 10px;}
.table  thead th:last-child(1){border-top-right-radius: 10px;}
.table  thead th { position:sticky; top:0px; padding:10px; }
.table td, .table th{border:none;}
.table tbody tr{border-bottom:1px solid #e8e8e8;font-size: 14px;}
th.pos-sticky{background: #f7f7f7}
.table-content tbody tr:hover {
	background: #f7f7f7!important;
	-webkit-transition: background .6s ease;
	-moz-transition: background .6s ease;
	-ms-transition: background .6s ease;
	-o-transition: background .6s ease;
	transition: background .6s ease;
}
.table-content tbody tr:hover .pos-sticky {
	background: #f7f7f7;
	-webkit-transition: background .6s ease;
	-moz-transition: background .6s ease;
	-ms-transition: background .6s ease;
	-o-transition: background .6s ease;
	transition: background .6s ease;
}
.pagination{font-size:12px;}
.pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous{font-size:12px!important;}
.lineheight30{line-height: 1.8rem;}
.page_input{width:42px!important;}
.pagination {
		/*justify-content: center!important;*/
	}
.button{
	position: initial!important;
}
.page{margin-top:10px;border-top:1px solid #f7f7f7;padding-top: 10px;padding-bottom: 10px;}
.pagination-link, .pagination-next, .pagination-previous{height:1.8rem;min-width: 1.8rem;line-height: 1.8em}
.pagination-next, .pagination-previous{padding: 0px;}
.pagination input{height:1.8rem}
.page .page_btn{height: 1.8rem}
.input ,.textarea{
	border-radius: 8px;
	box-shadow: none;
	-webkit-transition:  .6s ease;
	-moz-transition:  .6s ease;
	-ms-transition:  .6s ease;
	-o-transition:  .6s ease;
	transition:  .6s ease;
}
.is-small.input, .is-small.textarea{border-radius: 6px;}
.input:hover, .textarea:hover{
	box-shadow: 0.5px 0.5px 8px 0px #93a1a1;
}
.webnav{flex: none!important;padding: 0px!important;margin-bottom: 0px!important;background:#f5f5f5; overflow: visible!important;}
.webnav .breadcrumb{width:85%!important;display: inline-block;margin-bottom: 0px;vertical-align: middle}
.container{background-color: #ffffff;border-bottom: 1px solid #f5f5f5;}
.webnav a{text-decoration: none!important;display: inline-block;}
.webnav a:hover{text-decoration: underline!important;}
.personal{display: inline-block;width:14%!important;vertical-align: middle;text-align: right}
.personal a:hover{text-decoration: none!important;}
.personal .dropdown-menu{text-align: left;width:100%!important;min-width: 0rem!important;}
.personal button{width:100%;font-size: 14px!important;border:none!important;}
.notification {
	padding: 0.5rem 0.2rem 0.5rem 1.5rem;background: none;
}
.page .breadcrumb{height: 35px;line-height: 35px;}
*{
	-webkit-transition:  .6s ease;
	-moz-transition:  .6s ease;
	-ms-transition:  .6s ease;
	-o-transition:  .6s ease;
	transition:  .6s ease;
}
.dropdown-menu{
	-webkit-transition: display 1.6s ease;
	-moz-transition: display 1.6s ease;
	-ms-transition: display 1.6s ease;
	-o-transition: display 1.6s ease;
	transition: display 1.6s ease;
}
.is-ancestor div:last-child .left{width:56px;}
.is-small.select{font-size: .75rem;}
.save-ul .control input{width:auto!important;}