html,
body {
  font-family: 'Questrial', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.hero.is-success {
  background: #f2f6fa;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  margin-top: 5rem;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

.login-hr {
  border-bottom: 1px solid black;
}

.has-text-black {
  color: black;
}

.field {
  padding-bottom: 10px;
}

.fa {
  margin-left: 5px;
}

.wallet {
  display: flex;
  flex-direction: column;
}

.wallet > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wallet > div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  line-height: 55px;
  border: 1px solid #eeeeee;
  justify-content: left;
  margin-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.wallet > div div img {
  width: 42px;
  margin-right: 10px;
}

.wallet .xpocket {
  width: 32px;
  margin-right: 10px;
  margin-left: 3px;
}

.wallet > div div:first-child {
  margin-right: 5px;
}

.walletInstall {
  color: #000000 !important;
  cursor: pointer;
  text-decoration: underline;
}

#installWalletForm,
.pwdInstall {
  display: none;
}

.chainSelectLable {
  width: 100%;
  color: #000000;
}
