.left {
    width: 20%;
    /* background-color: #ccc;   */
    border-radius: 10px; /* 圆角样式 */

    margin: 20px 0 20px 0;

    overflow-y: auto;
}
.left .section {
    border-right: 1px solid #ededed;
}
.left .section .container {
    overflow: auto !important;
}
.searchMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.right {
    width: 80%;
    /* background-color: #ccc; */
    border-radius: 10px; /* 圆角样式 */

    margin: 20px 0 20px 0;
}
.right .table-content {
    width: 100%;
    overflow: auto;
    flex: 1;
}

.tree summary {
    outline: 0;
    padding-left: 30px;
    list-style: none;
    background: repeating-linear-gradient(90deg, #999 0 1px, transparent 0px 2px)
    0px 50%/20px 1px no-repeat;
    /* background: linear-gradient(#999,#999) 0px 50%/20px 1px no-repeat; */
}
.tree details:last-child {
    background-size: 1px 23px;
}
.tree > details:not(:last-child) > details:last-child {
    background-size: 1px 100%;
}
.tree details {
    padding-left: 40px;
    background: repeating-linear-gradient(#999 0 1px, transparent 0px 2px) 40px
    0px/1px 100% no-repeat;
    /* background: linear-gradient(#999, #999) 40px 0px/1px 100% no-repeat; */
}
.tree > details {
    background: none;
    padding-left: 0;
}
.tree > details > summary {
    background: none;
}
.tree summary {
    display: flex;
    align-items: center;
    height: 46px;
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    cursor: default;
}
.tree summary::after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    height: 38px;
    background: #eef2ff;
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
}
.tree summary:hover::after {
    opacity: 1;
}
.tree summary:not(:only-child)::before {
    content: '';
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    margin-right: 8px;
    border: 1px solid #999;
    background: linear-gradient(#999, #999) 50%/1px 10px no-repeat,
    linear-gradient(#999, #999) 50%/10px 1px no-repeat;
}
.tree details[open] > summary::before {
    background: linear-gradient(#999, #999) 50%/10px 1px no-repeat;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .icon-handle{
    color: #999999;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* 设置链接的字体颜色 */
a {
    color: black;
}
/* 设置链接悬停时的字体颜色 */
a:hover {
    color: red;
}