{{ $category := selectList "category" "" 1 20 "* FROM category order by sortNo desc" }}
{{ $convertJson := convertJson  $category }}
{{template "admin/header.html"}}
<title>内容导航 - GPRESS</title>
{{template "admin/bodystart.html"}}

<div class="layui-row layui-col-space5">
	<div class="layui-col-md3">
		<div class="layui-panel" style="height: 100%; padding: 5px;">
			<div>导航菜单</div>
		</div>
	</div>
	<div class="layui-col-md9">
		<div style="height: 100%;">
				<form id="listForm" action="{{basePath}}admin/{{.UrlPathParam}}/list" method="GET">
					<input type="hidden" id="pageNo" name="pageNo" value="{{.Page.PageNo}}">
					<input type="hidden" id="comCode" name="comCode" value="">
					<div class="layui-input-group">
						<input type="text" id="q" name="q" placeholder="搜索" class="layui-input">
						<div class="layui-input-split layui-input-suffix" style="cursor: pointer;">
							<i class="layui-icon layui-icon-search" onclick="submitListForm();"></i>
						</div>
						<div class="layui-input-suffix">
							<a href="{{basePath}}admin/{{.UrlPathParam}}/save" class="layui-btn layui-bg-blue">新增内容</a>
						</div>
					</div>
				</form>
				<table class="layui-table" id="table_list" lay-filter="parse-table-list">
					<thead>
						<tr>
							<th width="25%">ID</th>
							<th width="29%">标题</th>
							<th width="10%">导航菜单</th>
							<th width="7%">排序</th>
							<th width="12%">状态</th>
							<th width="17%">操作</th>
						</tr>
					</thead>
					<tbody>
						<!-- 循环所有的数据 -->
						{{ range $i,$v := .Data }}
						<tr>
							<!-- 获取每一列的值 -->
							<td><a href="{{basePath}}post/{{.Id}}" target="_blank">{{ .Id }}</a></td>
							<td> {{ .Title }}</td>
							<td> {{ .CategoryName }}</td>
							<td> {{ .SortNo }}</td>
							<td>
								{{if eq .Status 0 }}
								列表不显示
								{{else if eq .Status 1 }}
								公开
								{{else if eq .Status 2 }}
								私密
								{{else}}
								未知
								{{end}}
							</td>
							<td>
								<button type="button" class="layui-btn layui-btn-primary layui-btn-xs">
									<a href="{{basePath}}admin/{{$.UrlPathParam}}/look?id={{.Id}}" target="_blank">
										<i class="layui-icon layui-icon-eye"></i>
									</a>
								</button>
								<button type="button" class="layui-btn layui-btn-primary layui-btn-xs">
									<a href="{{basePath}}admin/{{$.UrlPathParam}}/update?id={{.Id}}">
										<i class="layui-icon layui-icon-edit"></i>
									</a>
								</button>
								<button type="button" class="layui-btn layui-btn-primary layui-btn-xs"
									onclick="deleteFunc('{{$v.Id}}','{{basePath}}admin/{{$.UrlPathParam}}/delete');">
									<i class="layui-icon layui-icon-delete"></i>
								</button>
							</td>
						</tr>
						{{end }}
					</tbody>
				</table>
				<div id="div-list-page"></div>
			</div>
	</div>

  </div>
{{template "admin/bodyend.html"}}

<script>
	var layer;
	var $;
	layui.use(function () {
		//var table = layui.table;
		layer = layui.layer;
		$ = layui.jquery;
		var laypage = layui.laypage;

		const query = window.location.search;
		const params=new URLSearchParams(query)
		var q=params.get("q")
		if(q){
			$("#q").val(q)
		}
		var comCode=params.get("comCode")
		if(comCode&&comCode!=""){
			$("#comCode").val(comCode)
		}

		// 普通用法
		laypage.render({
			elem: 'div-list-page',
			count: "{{.Page.TotalCount}}",
			limit: "{{.Page.PageSize}}",
			curr: "{{.Page.PageNo}}",
			theme: '#1890ff',
			layout: ['prev', 'page', 'next', 'count', 'skip'], // 功能布局
			jump: function (obj) {
				let pageNo = document.getElementById("pageNo").value - 0;
				if (pageNo != obj.curr) {
					document.getElementById("pageNo").value = obj.curr;
					submitListForm();
				}
			}
		});
	});

	function deleteFunc(id, url) {
		layer.confirm('确认删除?', {
			icon: 3,
			title:"确认",
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: url, 
				data: { "id": id },
				success: function (res) {
					if (res.statusCode === 1) {
						layer.msg("删除成功",function(){
							location.reload();
						});
					}
				}
			});
		});
	}

	function submitListForm(){
		document.getElementById("listForm").submit();
	}

</script>