{{template "admin/header.html"}}
<title>save - GPRESS</title>
{{template "admin/bodystart.html"}}
{{ $tableFiled := tableFiled .urlPathParam }}
{{$analyzer := analyzer}}
{{$fieldType := fieldType}}

<section class="section">
	<div class="container">
		<div class="table-content">
			<!-- is-6-desktop is-6-tablet -->
			<div class="column">
				<form id="gpress-form" action="{{basePath}}admin/{{.urlPathParam}}/save" method="POST">
					<ul class="save-ul">
						<li>
							<div class="left">
								文章标题
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="title">
							</div>
						</li>
						<li>
							<div class="left">
								副标题
								<!-- <input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" /> -->
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="subtitle">
							</div>
						</li>
						<li>
							<div class="left">
								关键字
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="keyword">
							</div>
						</li>
						<li>
							<div class="left">
								站点描述
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="description">
							</div>
						</li>
						<li>
							<div class="left">
								自身页面路径
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="hrefURL">
							</div>
						</li>
						<li>
							<div class="left">
								导航ID
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="navMenuID">
							</div>
						</li>
						<li>
							<div class="left">
								导航名称（逗号隔开）
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="navMenuName">
							</div>
						</li>
						<li>
							<div class="left">
								模版ID
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="templateID">
							</div>
						</li>
						<li>
							<div class="left">
								作者
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="author">
							</div>
						</li>
						<li>
							<div class="left">
								标签
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="tag">
							</div>
						</li>
						<li>
							<div class="left">
								文章目录
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="toc">
							</div>
						</li>
						<li>
							<div class="left">
								文章摘要
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="text" name="{{.FieldCode}}" id="summary">
							</div>
						</li>
						<li style="align-items: flex-start;">
							<div class="left">
								封面图
							</div>
							<div class="right">
								<div class="upload-modlue">
									<div class="upload-box">
										<i class="iconfont icon-shangchuan"></i>
										<p>上传图片</p>
										<input class="input" type="file" id="fileInput">
									</div>
									<div class="img-box">
										<div class="img-preview">
											<img src="" id="img">
											<div class="delete-btn">
												<i class="iconfont icon-shanchu"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="left">
								排序
								<input type="hidden" id="fieldType_{{.FieldCode}}" value="{{.FieldType}}" />
							</div>
							<div class="right">
								<input class="input" type="number" name="{{.FieldCode}}" id="sortNo">
							</div>
						</li>
						<li>
							<div class="left">
								文章内容
							</div>
							<div class="right">
								<div class="control">
									<label class="radio">
										<input type="radio" value="0" name="foobar" checked>
										富文本
									</label>
									<label class="radio">
										<input type="radio" value="1" name="foobar">
										Markdown
									</label>
								</div>
							</div>
						</li>
						<li id="editor-show"  style="align-items: flex-start;">
							<div class="left">
							</div>
							<div class="right" style="width: 800px;">
								<div id="editor—wrapper">
									<div id="toolbar-container">
										<!-- 工具栏 -->
									</div>
									<div id="editor-container" style="height: 400px;">
										<!-- 编辑器 -->
									</div>
								</div>
							</div>
						</li>
						<li id="markdown-show"  style="align-items: flex-start;display: none;">
							<div class="left">
							</div>
							<div class="right"style="width: 800px;height: 500px;">
								<div id="markdown-container"></div>
							</div>
						</li>
					</ul>
					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<button type="submit" class="button is-primary">提交</button>
						</div>
						<div class="control">
							<button type="reset" class="button is-info is-light">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<link href="https://cdn.staticfile.org/wangeditor5/5.1.23/css/style.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/wangeditor5/5.1.23/index.min.js"></script>

<script>
	// 图片上传
	let thumbnail = ''
	$('#fileInput').change(function(e) {
		let file = e.target.files[0]
		if (!/image\/\w+/.test(file.type)) {
			$.confirm({
				useBootstrap: false,
				boxWidth: '300px',
				title: '提示',
				content: '请上传图片格式！',
				type: 'red',
				buttons: { '确定': function() {} }
			})
			return false
		}
		let reader = new FileReader()
		reader.readAsDataURL(file)
		reader.onload = function() {
			console.log(this.result)
			thumbnail = this.result
			let imgs = document.createElement('img') //创建img标签
			$('#img').attr('src', thumbnail) //将img的src属性的值赋值
			$('.upload-box').hide()
			$('.img-box').show()
		}
		console.log(e, '****e*****')
	})

	// 删除图片
	$('.delete-btn').click(function() {
		thumbnail = ''
		$('#fileInput').val('')
		$('#img').attr('src', '')
		$('.upload-box').show()
		$('.img-box').hide()
	})

	// markdown编辑器
	$(function() {
		new Cherry({
			id: 'markdown-container',
			value: '# welcome to cherry editor!',
		})
	})
	
	$('input[name=\'foobar\']').click(function(e){
		let current = $('input[name=\'foobar\']:checked').val()
		if(current == 0){
			$('#editor-show').show()
			$('#markdown-show').hide()
		}else{
			$('#markdown-show').show()
			$('#editor-show').hide()
		}
		console.log()
	})


	const form = document.querySelector('#gpress-form')
	let content = ''
	const {
		createEditor,
		createToolbar
	} = window.wangEditor

	const editorConfig = {
		placeholder: '请输入内容...',
		onChange(editor) {
			content = editor.getHtml()
			console.log('editor content', content)
			// 也可以同步到 <textarea>
		}
	}

	const editor = createEditor({
		selector: '#editor-container',
		html: '<p></p>',
		config: editorConfig,
		mode: 'default', // or 'simple'
	})

	const toolbarConfig = {}

	const toolbar = createToolbar({
		editor,
		selector: '#toolbar-container',
		config: toolbarConfig,
		mode: 'default', // or 'simple'
	})


	form.addEventListener('submit', async event => {
		event.preventDefault()
		const formData = new FormData(form)
		const jsonObject = {
			title: $('#title').val(),
			subtitle: $('#subtitle').val(),
			keyword: $('#keyword').val(),
			description: $('#description').val(),
			hrefURL: $('#hrefURL').val(),
			navMenuID: $('#navMenuID').val(),
			navMenuName: $('#navMenuName').val(),
			author: $('#author').val(),
			tag: $('#tag').val(),
			toc: $('#toc').val(),
			summary: $('#summary').val(),
			thumbnail: $('#thumbnail').val(),
			sortNo: $('#sortNo').val(),
			content: content,
			markdown: '',
		}
		console.log(jsonObject)
		const response = await fetch(form.action, {
			method: form.method,
			body: JSON.stringify(jsonObject),
			headers: { 'Content-Type': 'application/json' }
		})
		let res = await response.json()
		if (res.statusCode == 200) {
			$.confirm({
				useBootstrap: false,
				boxWidth: '400px',
				title: '提示',
				content: '保存成功！',
				type: 'green',
				buttons: {
					'确定': function() {
						window.location.href = '{{basePath}}admin/{{.urlPathParam}}/list'
					}
				}
			})
		}
	})
</script>


{{template "admin/bodyend.html"}}
