{{template "admin/header.html"}}
<title>新增内容 - GPRESS</title>
<link rel="stylesheet" type="text/css" href="{{basePath}}admin/js/cherry-markdown/cherry-markdown.min.css" />
<link href="https://cdn.staticfile.org/wangeditor5/5.1.23/css/style.min.css" rel="stylesheet" />
<script src="https://cdn.staticfile.org/wangeditor5/5.1.23/index.min.js"></script>
<script type="text/javascript" src="{{basePath}}admin/js/cherry-markdown/cherry-markdown.min.js"></script>
{{template "admin/bodystart.html"}} 

{{ $category := selectList "category" "" 1 20 "* FROM category order by sortNo desc" }} 
{{ $maxSortNo:=  selectOne "content" "max(sortNo) as sortNo from content" }} 
{{ $pageTemplate := pageTemplate }}

<div class="layui-panel" style="padding: 5px;">
<form class="layui-form" id="gpress-form" action="{{basePath}}admin/{{.UrlPathParam}}/save" method="POST">
	<div class="layui-form-item">
         <div class="layui-col-md3">
			<label class="layui-form-label">ID</label>
			<div class="layui-input-block">
			  <input type="text" name="id" lay-verify="required" lay-reqtext="请填写ID" autocomplete="off" class="layui-input" value="{{generateStringID}}">
			</div>
		 </div>
		 <div class="layui-col-md3">
			<label class="layui-form-label">文章标题</label>
			<div class="layui-input-block">
			  <input type="text" name="title" lay-verify="required" lay-reqtext="请填写文章标题" autocomplete="off" class="layui-input" value="">
			</div>
		 </div>
		 <div class="layui-col-md3">
			<label class="layui-form-label">摘要</label>
			<div class="layui-input-block">
			  <input type="text" name="summary" autocomplete="off" class="layui-input" value="">
			</div>
		 </div>
		 <div class="layui-col-md3">
			<label class="layui-form-label">keyword</label>
			<div class="layui-input-block">
			  <input type="text" name="keyword" autocomplete="off" class="layui-input" value="">
			</div>
		 </div>
	</div>

	<div class="layui-form-item">
		<div class="layui-col-md3">
		   <label class="layui-form-label">导航菜单</label>
		   <div class="layui-input-block">
			<select name="categoryID" id="categoryID" lay-verify="required" lay-reqtext="请选择导航菜单" >
				<option value="">请选择</option>
				{{ range $index,$obj := $category.Data }}
				<option value="{{$obj.Id}}">{{$obj.Name}}</option>
				{{end}}
			</select>
		   </div>
		</div>
		<div class="layui-col-md3">
		   <label class="layui-form-label">页面模版</label>
		   <div class="layui-input-block">
			 <select  name="templateID" id="templateID" >
				<option value="">默认(content.html)</option>
				{{ range $index,$obj := $pageTemplate }}
				<option value="{{$obj.Id}}">{{$obj.Name}}</option>
				{{end}}
			</select>
			</div>
		</div>
		<div class="layui-col-md3">
		   <label class="layui-form-label">状态</label>
		   <div class="layui-input-block">
			<select name="status" id="status">
				<option value="1">公开</option>
				<option value="0">列表不显示</option>
				<option value="2">私密</option>
			</select>
		   </div>
		</div>
		<div class="layui-col-md3">
		   <label class="layui-form-label">排序</label>
		   <div class="layui-input-block">
			<input type="number" name="sortNo" lay-verify="required" lay-reqtext="请填写排序" autocomplete="off" class="layui-input" value="{{addInt $maxSortNo.SortNo 1}}">		   </div>
		</div>
   </div>

   <div class="layui-form-item">
	<div class="layui-col-md3">
	   <label class="layui-form-label">封面图</label>
	   <div class="layui-input-block">
		<button type="button" class="layui-btn" id="button-upload-demo-btn">
			<i class="layui-icon layui-icon-upload"></i> 图片上传
		  </button>
		 <input type="hidden" name="thumbnail" id="thumbnail" value="">
	   </div>
	</div>
	<div class="layui-col-md3">
	   <label class="layui-form-label">description</label>
	   <div class="layui-input-block">
		 <input type="text" name="description" autocomplete="off" class="layui-input" value="">
	   </div>
	</div>
	<div class="layui-col-md3">
	   <label class="layui-form-label">作者</label>
	   <div class="layui-input-block">
		 <input type="text" name="author" autocomplete="off" class="layui-input" value="">
	   </div>
	</div>
	<div class="layui-col-md3">
	   <label class="layui-form-label">tag标签</label>
	   <div class="layui-input-block">
		 <input type="text" name="tag" autocomplete="off" class="layui-input" value="">
	   </div>
	</div>
</div>
	

	  <div class="layui-form-item">
		<label class="layui-form-label">文章内容</label>
			<div class="layui-input-block">
				<input type="radio" name="foobar" value="0" title="富文本" />
                <input type="radio" name="foobar"  value="1" title="Markdown" checked /> 
			<button type="submit" class="layui-btn layui-bg-blue" lay-submit lay-filter="gpress-form-ajax-update">提交保存</button>
			</div>
	</div>
	<div class="layui-form-item">

		<div id="markdown-container" style="max-height: 600px;"></div>

	</div>

</form>
</div>
{{template "admin/bodyend.html"}}

<script>
layui.use(function(){
var form = layui.form;
var layer = layui.layer;
var $ =layui.jquery;


let fullScreen = Cherry.createMenuHook('全屏', 'full')
		window.cherryObj = new Cherry({
			id: 'markdown-container',
			toolbars: {
				toolbar: [
					'bold',
					'italic',
					'strikethrough',
					'|',
					'color',
					'header',
					'|',
					'list',
					{
						insert: [
							'image',
							'link',
							'hr',
							'br',
							'code',
							'formula',
							'toc',
							'table',
							'line-table',
							'bar-table',
						],
					},
					'|',
					'full',
				],
				customMenu: {
					// 注入编辑器的导航中
					// 对象 key 可以作为导航项的名字（需要保证唯一），在上方的配置中使用
					full: fullScreen,
				},
			},
			fileUpload(file, callback) {
				var formdata = new FormData() // FormData对象，来发送二进制文件。
				formdata.append('file', file) // 将文件追加到 formdata对象中
				$.ajax({
					type: 'post',
					url: '/admin/upload',
					data: formdata,
					processData: false,
					contentType: false,
					success(res) {
						callback(res.data)
					},
					error(err) {},
				})
			},
		})
		$('.cherry-toolbar-全屏').click(function (e) {
			if ($('#markdown-container').hasClass('full-screen')) {
				$('.cherry-toolbar-全屏').html('全屏')
				$('#markdown-container').removeClass('full-screen')
			} else {
				$('.cherry-toolbar-全屏').html('退出全屏')
				$('#markdown-container').addClass('full-screen')
			}
		})





// 提交事件
form.on('submit(gpress-form-ajax-update)', function(data){
  var field = data.field; // 获取表单字段值
  field.sortNo=field.sortNo-0;
  field.status=field.status-0;
  const form = document.getElementById('gpress-form');
  $.ajax({
	  url:form.action,
	  type:form.method,
	  contentType: "application/json;charset=utf-8",
	  dataType:"json",
	  data:JSON.stringify(field),
	  error:function(){
		  layer.msg("保存错误,请重试!");
	  },
	  success:function(result){
		  if (result.statusCode == 1) {
			layer.confirm('保存成功,是否继续添加?', {
			icon: 3,
			title:"确认",
			btn: ['继续添加', '返回列表'] //按钮
			}, function () {
				location.reload();
			},function () {
				window.location.href = '{{basePath}}admin/{{.UrlPathParam}}/list';
			});
		  }else{
			  layer.msg("保存失败!");
		  }
	  }
  });
  return false; // 阻止默认 form 跳转
});
});
</script>

