# idea ignore
.idea/
*.ipr
*.iml
*.iws
gpressdatadir/bleve/*
testIndex/
dict/
*.db

.vscode/

*.swp

# temp ignore
*.hertz.gz
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*debug.test
debug.test
__debug_bin
go.sum

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
.test
iprepo.txt


_output