{{template "admin/header.html"}}
<title>查看页面模板 - GPRESS</title>
<script type="text/javascript" src="{{basePath}}admin/js/sha3.min.js"></script>
{{template "admin/bodystart.html"}}
        <div class="layui-card layui-panel" style="height: 100%;">
          <div class="layui-card-header">
            查看页面模板
          </div>
          <div class="layui-card-body">
				<div class="layui-form-item layui-col-md6">
				  <label class="layui-form-label">ID</label>
				  <div class="layui-input-block">
					<input type="text" class="layui-input" disabled value="{{.Data.Id}}" />
				  </div>
				</div>
				<div class="layui-form-item layui-col-md6">
					<label class="layui-form-label">模板名称</label>
					<div class="layui-input-block">
					  <input type="text" class="layui-input" disabled  value="{{.Data.Name}}">
					</div>
				</div>
	  
				<div class="layui-form-item layui-col-md6">
				  <label class="layui-form-label">模板路径</label>
				  <div class="layui-input-block">
					<input type="text" class="layui-input" disabled value="{{.Data.TemplatePath}}">
				  </div>
				</div>
				<div class="layui-form-item layui-col-md6">
					<label class="layui-form-label">排序</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" disabled value="{{.Data.SortNo}}">
					</div>
				</div>				
				<div class="layui-form-item">
					<div class="layui-input-block">
					</div>
				</div>
          </div>
        </div>
{{template "admin/bodyend.html"}}
