{{template "admin/header.html"}}
<title>更新页面模版 - GPRESS</title>
{{template "admin/bodystart.html"}}



<section class="section">
	<div class="container">
		<div class="table-content">
			<div class="column">
				<form id="gpress-form" action="{{basePath}}admin/{{.UrlPathParam}}/update" method="POST">
					<input type="hidden" name="id" id="id" value="{{.Data.Id}}">
					<ul class="save-ul">
						<li>
							<div class="left">
								ID
							</div>
							<div class="right">
								<input type="hidden" name="id" id="id" value="{{.Data.Id}}" />
								<input class="input is-small" type="text" disabled value="{{.Data.Id}}">
							</div>
						</li>
						<li>
							<div class="left">
								模板名称
							</div>
							<div class="right">
								<input class="input is-small" type="text" name="name" value="{{.Data.Name}}">
							</div>
						</li>
						<li>
							<div class="left">
								模板路径
							</div>
							<div class="right">
								<input class="input is-small" type="text" name="templatePath" value="{{.Data.TemplatePath}}">
							</div>
						</li>
						<li>
							<div class="left">
								排序
							</div>
							<div class="right">
								<input class="input is-small" type="number" name="sortNo" value="{{.Data.SortNo}}">
							</div>
						</li>
						<li>
							<div class="left">
								状态
							</div>
							<div class="select is-small">
								<select name="status" id="status">
								  <option value="1">公开</option>
								  <option value="0">列表不显示</option>
								  <option value="2">私密</option>
								</select>
							</div>
						</li>
					</ul>

					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<button type="submit" class="button is-success is-small">提交</button>
						</div>
						<div class="control">
							<button type="reset" class="button is-info is-light is-small">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	 $("#status").val("{{.Data.Status}}")
	const form = document.getElementById('gpress-form')
	form.addEventListener('submit', async event => {
		event.preventDefault()

		const formData = new FormData(form)
		const jsonObject = {}
		for (const [key, value] of formData.entries()) {
							jsonObject[key] = value
		}
		jsonObject.sortNo = jsonObject.sortNo-0
		jsonObject.status = jsonObject.status-0

		const response = await fetch(form.action, {
			method: form.method,
			body: JSON.stringify(jsonObject),
			headers: { 'Content-Type': 'application/json', }
		})
	
		let res = await response.json()
		if (res.statusCode == 1) {
			$.confirm({
				useBootstrap: false,
				boxWidth: '400px',
				title: '提示',
				content: '修改成功！',
				type: 'green',
				buttons: {
					'确定': function() {
						window.location.href = '{{basePath}}admin/{{.UrlPathParam}}/list'
					}
				}
			})
		}
	})
</script>

{{template "admin/bodyend.html"}}
