{{template "admin/header.html"}}
<title>新增导航菜单 - GPRESS</title>
{{template "admin/bodystart.html"}}

{{ $themeTemplate := themeTemplate }} <!-- 模版数据 -->

{{ $categoryName := selectOne "category" "* from category WHERE id=?" .QueryStringMap.pid }}

{{ $maxSortNo:=  selectOne "category" "max(sortNo) as sortNo from category" }} 

<div class="layui-card layui-panel" style="height: 100%;">
	<div class="layui-card-header">
	  新增导航菜单
	</div>
	<div class="layui-card-body">
	  <form class="layui-form" id="gpress-form" action="{{basePath}}admin/{{.UrlPathParam}}/save" method="POST">
		  <div class="layui-form-item layui-col-md6">
			<label class="layui-form-label">ID</label>
			<div class="layui-input-block">
			  <input type="text" name="id" lay-verify="required" lay-reqtext="请填写ID" autocomplete="off" class="layui-input" value="{{generateStringID}}" />
			</div>
		  </div>
		  <div class="layui-form-item layui-col-md6">
			  <label class="layui-form-label">导航名称</label>
			  <div class="layui-input-block">
				<input type="text" name="name" lay-verify="required" lay-reqtext="请填写导航名称" autocomplete="off" class="layui-input" value="">
			  </div>
		  </div>

		  <div class="layui-form-item layui-col-md6">
			<label class="layui-form-label">跳转路径</label>
			<div class="layui-input-block">
			  <input type="text" name="hrefURL" autocomplete="off" class="layui-input" value="">
			</div>
		  </div>

		  <div class="layui-form-item layui-col-md6">
			<label class="layui-form-label">跳转方式</label>
			<div class="layui-input-block">
				<select name="hrefTarget" id="hrefTarget">
					<option value="">默认</option>
					<option value='_blank'>_blank</option>
					<option value='_parent'>_parent</option>
					<option value='_self'>_self</option>
					<option value='_top'>_top</option>
				</select>
			</div>
		  </div>

		  <div class="layui-form-item layui-col-md6">
			<label class="layui-form-label">父级导航</label>
			<div class="layui-input-block">
			  <input  type="hidden"  name="pid"  value="{{$categoryName.Id}}">
			  <input type="text"  autocomplete="off" class="layui-input" value="{{$categoryName.Name}}" disabled>
			</div>
		  </div>

		  <div class="layui-form-item layui-col-md6">
			<label class="layui-form-label">页面模版</label>
			<div class="layui-input-block">
				<select name="templateFile" id="templateFile">
					<option value="">默认(category.html)</option>
					{{ range $index,$obj := $themeTemplate }}
					<option value='{{$obj.Name}}'>{{$obj.Name}}</option>
					{{end}}
				</select>
			</div>
		  </div>

		  <div class="layui-form-item layui-col-md6">
			  <label class="layui-form-label">排序</label>
			  <div class="layui-input-block">
				<input type="number" name="sortNo" lay-verify="required" lay-reqtext="请填写排序" autocomplete="off" class="layui-input" value="{{addInt $maxSortNo.SortNo 1}}">
			  </div>
		  </div>

		  <div class="layui-form-item layui-col-md6">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<select name="status" id="status">
					<option value="1">公开</option>
					<option value="0">链接访问</option>
					<option value="2">私密</option>
				</select>
			</div>
		  </div>		  

		  <div class="layui-form-item">
			  <div class="layui-input-block">
				<button type="submit" class="layui-btn layui-bg-blue" lay-submit lay-filter="gpress-form-ajax-update">提交保存</button>
			  </div>
		  </div>
	  </form>
	</div>
  </div>
{{template "admin/bodyend.html"}}

<script>
layui.use(function(){
var form = layui.form;
var layer = layui.layer;
var $ =layui.jquery;
// 提交事件
form.on('submit(gpress-form-ajax-update)', function(data){
  var field = data.field; // 获取表单字段值
  field.sortNo=field.sortNo-0;
  field.status=field.status-0;
  const form = document.getElementById('gpress-form');
  $.ajax({
	  url:form.action,
	  type:form.method,
	  contentType: "application/json;charset=utf-8",
	  dataType:"json",
	  data:JSON.stringify(field),
	  error:function(){
		  layer.msg("保存错误,请重试!");
	  },
	  success:function(result){
		  if (result.statusCode == 1) {
			layer.confirm('保存成功,是否继续添加?', {
			icon: 3,
			title:"确认",
			btn: ['返回列表','继续添加' ] //按钮
			}, function () {
				window.location.href = '{{basePath}}admin/content/list';
			},function () {
				location.reload();
			});
		  }else{
			  layer.msg("保存失败!");
		  }
	  }
  });
  return false; // 阻止默认 form 跳转
});
});
</script>
