{{template "admin/header.html"}}
<title>更新导航菜单 - GPRESS</title>
{{template "admin/bodystart.html"}}

{{ $category := selectList "category" "" 1 "* FROM category order by sortNo desc" }}
{{ $pageTemplate := pageTemplate }} <!-- 模版数据 -->

<style>
	.code-line .number{
		background-color: transparent;
		font-size: 12px;
		padding: 0;
		vertical-align: unset;
	}
</style>

<section class="section">
	<input type="hidden" id="templateID" value="{{.Data.TemplateID}}">

	<div class="container">
		<div class="table-content">
			<div class="column">
				<form id="gpress-form" action="{{basePath}}admin/{{.UrlPathParam}}/update" method="POST">
					<ul class="save-ul">
                      
                        <li>
							<div class="left">
								ID
							</div>
							<div class="right">
								<input type="hidden" name="id" id="id" value="{{.Data.Id}}" />
								<input class="input is-small" type="text" disabled value="{{.Data.Id}}">
							</div>
						</li>

						<li>
							<div class="left">
								菜单名称
							</div>
							<div class="right">
								<input class="input is-small" type="text" name="name" value="{{.Data.Name}}" id="name" />
							</div>
						</li>
						<li>
							<div class="left">
								跳转路径
							</div>
							<div class="right">
								<input class="input is-small" type="text" name="hrefURL" value="{{.Data.HrefURL}}" id="hrefURL">
							</div>
						</li>
						<li>
							<div class="left">
								跳转方式
							</div>
							<div class="right">
								<input class="input is-small" type="text" name="hrefTarget" value="{{.Data.HrefTarget}}" id="hrefTarget">
							</div>
						</li>
						<li>
							<div class="left">
								Pid
							</div>
							<div class="right">
								<input class="input is-small" type="text" name="pid" id="pid" value="{{.Data.Pid}}">
							</div>
						</li>
						<li>
							<div class="left">
								页面模版
							</div>
							<div class="select is-small">
								<select id="templateSelect">
									<option value="">请选择</option>
									{{ range $index,$obj := $pageTemplate }}
									<option value='{{$obj.Id}}'>{{$obj.Name}}</option>
									{{end}}
								</select>
							</div>
						</li>
						<li>
							<div class="left">
								排序
							</div>
							<div class="right">
								<input class="input is-small" type="number" name="sortNo" value="{{.Data.SortNo}}" id="sortNo">
							</div>
						</li>
						<li>
							<div class="left">
								状态
							</div>
							<div class="select">
								<select name="status" id="status">
								  <option value="1">公开</option>
								  <option value="0">列表不显示</option>
								  <option value="2">私密</option>
								</select>
							</div>
						</li>
					</ul>

					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<button type="submit" class="button is-success is-small">提交</button>
						</div>
						<div class="control">
							<button type="reset" class="button is-info is-light is-small">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	 $("#status").val("{{.Data.Status}}")
	 
	let templateID = $('#templateID').val()
	$('#templateSelect').val(templateID)
	
	$('#templateSelect').change(function(e) {
		templateID = $('#templateSelect').val()
	})
	
	// 保存提交
	const form = document.getElementById('gpress-form')
	form.addEventListener('submit', async event => {
		event.preventDefault()
		const formData = new FormData(form)
		const jsonObject = {}
		for (const [key, value] of formData.entries()) {
			const fieldType = document.querySelector(key)
							jsonObject[key] = value
		}
		jsonObject.sortNo = jsonObject.sortNo-0
		jsonObject.status = jsonObject.status-0
		jsonObject.templateID = templateID
		jsonObject.id = $('#id').val()
		console.log(jsonObject)
		const response = await fetch(form.action, {
			method: form.method,
			body: JSON.stringify(jsonObject),
			headers: { 'Content-Type': 'application/json' }
		})
		let res = await response.json()
		if (res.statusCode == 1) {
			$.confirm({
				useBootstrap: false,
				boxWidth: '400px',
				title: '提示',
				content: '修改成功！',
				type: 'green',
				buttons: {
					'确定': function() {
						window.location.href = '{{basePath}}admin/content/list'
					}
				}
			})
		} else {
			$.confirm({
				useBootstrap: false,
				boxWidth: '400px',
				title: '提示',
				content: res.message,
				type: 'red',
				buttons: { '确定': function() {} }
			})
		}
	})
</script>

{{template "admin/bodyend.html"}}
