{{template "admin/header.html"}}
<title>用户 - GPRESS</title>
{{template "admin/bodystart.html"}}

{{$path := .UrlPathParam}}
<section class="section">
	<input type="hidden" id="data" value="{{.Data}}">
	<!-- 分页隐藏域 -->
	<input type="hidden" id="totalCount" value="{{.Page.TotalCount}}">
	<input type="hidden" id="pageCount" value="{{.Page.PageCount}}">


	<div class="container">
		<!-- 搜索表单 -->
		<form id="listForm" class="field is-horizontal" action="{{basePath}}admin/{{.UrlPathParam}}/list" method="GET">
			<div class="field-body">
				<div class="field">
					<div class="control">
						<input class="input" type="text" name="q" placeholder="输入搜索内容...">
						<input type="hidden" id="pageNo" name="pageNo" value="{{.Page.PageNo}}">
					</div>
				</div>
				<div class="field">
					<div class="control">
						<button class="button is-primary" type="submit">搜索</button>
						<a href="{{basePath}}admin/{{.UrlPathParam}}/save" class="button is-primary"
							type="submit">新增</a>
					</div>
				</div>
			</div>
		</form>

		<!-- 列表 -->

		<div class="table-content">
			<table class="table is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>用户ID</th>
						<th>账号</th>
						<th>密码</th>
						<th>用户名称</th>
						<th>区块链类型</th>
						<th>区块链地址</th>
						<th class="pos-sticky">操作</th>
					</tr>
				</thead>
				<tbody>
					<!-- 循环所有的数据 -->
					{{ range $i,$v := .Data }}
					<tr>
						<!-- 获取每一列的值 -->
						<td> {{ .Id }}</td>
						<td> {{ .Account }}</td>
						<td> {{ .Password }}</td>
						<td> {{ .UserName }}</td>
						<td> {{ .ChainType }}</td>
						<td> {{ .ChainAddress }}</td>
						<td class="pos-sticky">
							<div style="margin-bottom: 10px;">
								<a class="button is-success is-light is-small"
									href="{{basePath}}admin/{{$path}}/update?id={{$v.Id}}">编辑</a>
								<a class="button is-link is-light is-small"
									href="{{basePath}}admin/{{$path}}/look?id={{$v.Id}}">查看</a>
								<input type="button" class="button is-danger is-small" onclick="deleteFunc(this.id,'{{basePath}}admin/{{$path}}/delete')"
									id="{{$v.Id}}" value="删除"></input>
							</div>
						</td>
					</tr>
					{{end }}
				</tbody>
			</table>
		</div>
	</div>
	<!-- 分页条 -->
	<div class="page"></div>
</section>

<script>
	// 加载分页
	initPage()

</script>

{{template "admin/bodyend.html"}}