{{template "admin/header.html"}}
<script type="text/javascript" src="https://cdn.staticfile.org/js-sha3/0.8.0/sha3.min.js"></script>
<title>查看用户 - GPRESS</title>
{{template "admin/bodystart.html"}}



<section class="section">
	<input type="hidden" id="chainType" value="{{.Data.ChainType}}">
	<div class="container">
		<div class="table-content">
			<div class="column">
				<form id="gpress-form" action="/" method="POST">
					<input type="hidden" name="id" id="id" value="{{.Data.Id}}">
					<ul class="save-ul">
						<li>
							<div class="left">
								用户ID
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.Id}}">
							</div>
						</li>
						<li>
							<div class="left">
								账号
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.Account}}">
							</div>
						</li>
						<li>
							<div class="left">
								密码
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.Password}}">
							</div>
						</li>
						<li>
							<div class="left">
								用户名
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.UserName}}">
							</div>
						</li>
						<li>
							<div class="left">
								区块链类型
							</div>
							<div class="right">
								<select class="input" id="chainSelect" disabled>
									<option value="">请选择</option>
									<option value="ETH">以太坊</option>
									<option value="XUPER">百度超级链</option>
								</select>
							</div>
						</li>
						<li>
							<div class="left">
								区块链地址
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.ChainAddress}}">
							</div>
						</li>
						<li>
							<div class="left">
								RSA公钥
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.RsaPublicKey}}">
							</div>
						</li>
						<li>
							<div class="left">
								创建时间
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.CreateTime}}">
							</div>
						</li>
						<li>
							<div class="left">
								更新时间
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.UpdateTime}}">
							</div>
						</li>
						<li>
							<div class="left">
								创建人
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.CreateUser}}">
							</div>
						</li>
						<li>
							<div class="left">
								排序
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.SortNo}}">
							</div>
						</li>
						<li>
							<div class="left">
								是否有效
							</div>
							<div class="right">
								<input class="input" type="text" disabled value="{{.Data.Status}}">
							</div>
						</li>
					</ul>

					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<a href="{{basePath}}admin/{{.UrlPathParam}}/update?id={{.Data.Id}}"
								class="button is-primary">编辑</a>
						</div>
						<div class="control">
							<a href="{{basePath}}admin/{{.UrlPathParam}}/list" class="button is-info is-light">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	let chainType = $('#chainType').val()
	$('#chainSelect').val(chainType)
	$('#chainSelect').change(function(e) {
		chainType = $('#chainSelect').val()
	})
</script>

{{template "admin/bodyend.html"}}
