{{ $site := site }}
{{ $navMenu := navMenu}}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ $site.title }}</title>
  <meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<meta name="theme-color" content="#f8f5ec" />
<meta name="msapplication-navbutton-color" content="#f8f5ec">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#f8f5ec">

<meta name="description" content="{{ $site.description }}" />
<meta name="keyword" content="{{ $site.keyword }}" />


<link rel="apple-touch-icon" sizes="180x180" href="{{basePath}}{{ $site.favicon }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{basePath}}{{ $site.favicon }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{basePath}}{{ $site.favicon }}">
<link rel="manifest" href="{{basePath}}js/manifest.json">
<link rel="mask-icon" href="{{basePath}}{{ $site.favicon }}" color="#5bbad5">

<link rel="stylesheet" href="{{basePath}}css/even.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/fancybox/3.5.7/jquery.fancybox.min.css">


<!--[if lte IE 9]>
  <script src="https://cdn.staticfile.org/classlist/1.2.20180112/classList.min.js"></script>
<![endif]-->

<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
  <div id="mobile-navbar" class="mobile-navbar">
  <div class="mobile-header-logo">
    <a href="{{basePath}}" class="logo">{{ $site.name }}</a>
  </div>
  <div class="mobile-navbar-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<nav id="mobile-menu" class="mobile-menu slideout-menu">
  <ul class="mobile-menu-list">
    <a href="{{basePath}}">
        <li class="mobile-menu-item">Home</li>
    </a>

    {{ range $k,$v := $navMenu }}
    <a href="{{basePath}}{{ $v.hrefURL }}">
        <li class="mobile-menu-item">{{ $v.menuName }}</li>
    </a>
    {{ end }}

  </ul>
</nav>
  <div class="container" id="mobile-panel">
    <header id="header" class="header">
        <div class="logo-wrapper">
  <a href="{{basePath}}" class="logo">{{ $site.name }}</a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    <li class="menu-item">
        <a class="menu-item-link" href="{{basePath}}">Home</a>
      </li>
      {{ range $k,$v := $navMenu }}
      <li class="menu-item">
        <a class="menu-item-link" href="{{basePath}}{{ $v.hrefURL }}">{{ $v.menuName }}</a>
      </li>
      {{ end }}
  </ul>
</nav>
    </header>

    <main id="main" class="main">
      <div class="content-wrapper">
        <div id="content" class="content">