<!-- 查询 content -->
{{ $content := selectOne "* FROM content WHERE status=1 and id=? order by sortNo desc " .urlPathParam }}

{{ $prevContent := selectOne "id,title FROM content WHERE status=1 and sortNo < ? order by sortNo desc " $content.sortNo  }}
{{ $nextContent := selectOne "id,title FROM content WHERE status=1 and sortNo > ? order by sortNo desc " $content.sortNo  }}

{{template "bodystart.html"  }}


<article class="post">
    
  <header class="post-header">
    <h1 class="post-title">{{ $content.title }}</h1>

    <div class="post-meta">
      <span class="post-time"> {{ slice $content.createTime  0 10 }} </span>
      <div class="post-category">
          <a href="{{basePath}}navMenu/{{ $content.navMenuID }}"> {{ $content.navMenuName }} </a>
          </div>
      
    </div>
  </header>

  <div class="post-toc" id="post-toc">
<h2 class="post-toc-title">文章目录</h2>
<div class="post-toc-content always-active">
<nav id="TableOfContents">

  {{  safeHTML $content.toc }}

</nav>
</div>
</div>
  <div class="post-content">

    {{ safeHTML $content.content }}

</div>
<div class="post-copyright">
<p class="copyright-item">
  <span class="item-title">文章作者</span>
  <span class="item-content"> {{ $content.author }}</span>
</p>
<p class="copyright-item">
  <span class="item-title">上次更新</span>
  <span class="item-content">
    {{ slice $content.updateTime 0 10 }}
  </span>
</p>


</div>
<footer class="post-footer">
    <div class="post-tags">
        <a href="{{basePath}}tag/{{$content.tag}}">{{$content.tag}}</a>
        </div>
    <nav class="post-nav">
      {{if ne $prevContent.sortNo 0 }}
      <a class="prev" href="{{basePath}}post/{{$prevContent.id}}">
          <i class="iconfont icon-left"></i>
          <span class="prev-text nav-default">{{$prevContent.title}}</span>
          <span class="prev-text nav-mobile">上一篇</span>
        </a>
      {{end}}
      {{if ne $nextContent.sortNo 0 }}
      <a class="next" href="{{basePath}}post/{{$nextContent.id}}">
          <span class="next-text nav-default">{{$nextContent.title}}</span>
          <span class="next-text nav-mobile">下一篇</span>
          <i class="iconfont icon-right"></i>
        </a>
      {{end}}
    </nav>
  </footer>
</article>




  {{template "bodyend.html" }}