<!-- 查询 content -->
{{ $content:=indexOne "content" .urlPathParam }}

{{template "bodystart.html"  }}


<article class="post">
    
  <header class="post-header">
    <h1 class="post-title">{{ $content.data.title }}</h1>

    <div class="post-meta">
      <span class="post-time"> {{ $content.data.createTime }} </span>
      <div class="post-category">
          <a href="{{basePath}}navMenu/{{ $content.navMenuID }}"> {{ $content.data.navMenuName }} </a>
          </div>
      
    </div>
  </header>




{{ safeHTML $content.data.content }}




<div class="post-copyright">
  <p class="copyright-item">
    <span class="item-title">文章作者</span>
    <span class="item-content">springrain</span>
  </p>
  <p class="copyright-item">
    <span class="item-title">上次更新</span>
    <span class="item-content">
      {{ $content.data.updateTime }} 
        
    </span>
  </p>
  
  
</div>
<footer class="post-footer">
      <div class="post-tags">
          <a href="/tags/web/">web</a>
          </div>
      <nav class="post-nav">
        <a class="prev" href="/post/77-nftonxuperchain/">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">77.百度开放网络发行数字藏品 </span>
            <span class="prev-text nav-mobile">上一篇</span>
          </a>
        <a class="next" href="/post/75-paddledtx/">
            <span class="next-text nav-default">75.链桨使用</span>
            <span class="next-text nav-mobile">下一篇</span>
            <i class="iconfont icon-right"></i>
          </a>
      </nav>
    </footer>
  </article>
        

  {{template "bodyend.html" }}