{{ $site:=site }}

<!-- 查询 content 列表 -->
{{ $indexList:=indexList "content" "id,title,pageURL,navMenuID,navMenuName,summary,updateTime" .q .pageNo "" }}

{{template "bodystart.html" }}

<section id="posts" class="posts">

{{ range $k,$v := $indexList.data }}
<article class="post">
  <header class="post-header">
    <h1 class="post-title"><a class="post-link" href="{{basePath}}content/{{$v.id}}">{{ $v.title }}</a></h1>
    <div class="post-meta">
      <span class="post-time">{{ $v.updateTime }}</span>
      <div class="post-category">
          <a href="{{basePath}}list/{{ $v.navMenuID }}">{{ $v.navMenuName }}</a>
          </div>
    </div>
  </header>
  
  <div class="post-content">
    <div class="post-summary">
      {{ $v.summary }} 
    </div>
    <div class="read-more">
      <a href="{{basePath}}content/{{$v.id}}" class="read-more-link">阅读更多</a>
    </div>
  </div>
</article>
{{ end }}


</section>
  
<nav class="pagination">
  {{ if $indexList.page.HasPrev }}
  <a class="prev" href="{{basePath}}?pageNo={{ add $indexList.page.PageNo -1 }}">
      <i class="iconfont icon-left"></i>
      <span class="prev-text">上一页</span>
    </a>
  {{end}}
  {{ if $indexList.page.HasPrev }}
  <a class="next" href="{{basePath}}?pageNo={{ add $indexList.page.PageNo 1 }}">
      <span class="next-text">下一页</span>
      <i class="iconfont icon-right"></i>
    </a>
    {{end}}   
</nav>
        

  {{template "bodyend.html" }}