<!-- 查询 content 列表 -->
{{ $selectList:=selectList "content" "id,title,pageURL,updateTime" .q .pageNo  (printf "navMenuID=%s" .urlPathParam) }}
{{ $nav:=selectOne "navMenu" "menuName" .urlPathParam }}

{{template "bodystart.html"  }}

<section id="archive" class="archive">
  <div class="archive-title category">
        <h2 class="archive-name">{{$nav.menuName}}</h2>
  </div>
  {{ range $k,$v := $selectList.data }}
  <div class="archive-post">
      <span class="archive-post-time">
        {{ slice $v.updateTime 0 10 }} 
      </span>
      <span class="archive-post-title">
        <a href="{{basePath}}post/{{$v.id}}" class="archive-post-link">
          {{ $v.title }}
        </a>
      </span>
  </div>
  {{end}}
    
    
</section>
  
<nav class="pagination">
  {{ if $selectList.page.HasPrev }}
  <a class="prev" href="{{basePath}}navMenu/{{.urlPathParam}}?pageNo={{ addInt $selectList.page.PageNo -1 }}">
      <i class="iconfont icon-left"></i>
      <span class="prev-text">上一页</span>
    </a>
  {{end}}
  {{ if $selectList.page.HasNext }}
  <a class="next" href="{{basePath}}navMenu/{{.urlPathParam}}?pageNo={{ addInt $selectList.page.PageNo 1 }}">
      <span class="next-text">下一页</span>
      <i class="iconfont icon-right"></i>
    </a>
    {{end}}   
</nav>
        

  {{template "bodyend.html" }}