{{template "admin/header.html"}}
<title>查看设置 - GPRESS</title>
{{template "admin/bodystart.html"}}

<style>
	.code-line .number{
		background-color: transparent;
		font-size: 12px;
		padding: 0;
		vertical-align: unset;
	}
</style>
<section class="section">
	<input type="hidden" id="id" value="{{.Data.Id}}">

	<div class="container">
		<div class="table-content">
			<div class="column">
				<form id="gpress-form" action="/" method="POST">
					<ul class="save-ul">
						<li>
							<div class="left">
								ID
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.Id}}" />
							</div>
						</li>
						<li>
							<div class="left">
								基础路径
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.BasePath}}">
							</div>
						</li>
						<li>
							<div class="left">
								jwt密钥
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.JwtSecret}}">
							</div>
						</li>
						<li>
							<div class="left">
								jwt的key
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.JwttokenKey}}">
							</div>
						</li>
						<li>
							<div class="left">
								ip:端口
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.ServerPort}}">
							</div>
						</li>
						<li>
							<div class="left">
								主题
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.Theme}}">
							</div>
						</li>
						<li>
							<div class="left">
								超时时间
							</div>
							<div class="right">
								<input class="input is-small" type="text" disabled value="{{.Data.Timeout}}">
							</div>
						</li>

					</ul>

					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<a href="{{basePath}}admin/{{.UrlPathParam}}/update?id={{.Data.Id}}"
								class="button is-primary is-small">编辑</a>
						</div>
						<div class="control">
							<a href="{{basePath}}admin/{{.UrlPathParam}}/list" class="button is-info is-light is-small">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


<script>

</script>

{{template "admin/bodyend.html"}}
