{{template "admin/header.html"}}
<script type="text/javascript" src="https://cdn.staticfile.org/js-sha3/0.8.0/sha3.min.js"></script>
<title>更新设置 - GPRESS</title>
{{template "admin/bodystart.html"}}



<section class="section">
	<div class="container">
		<div class="table-content">
			<div class="column">
				<form id="gpress-form" action="{{basePath}}admin/{{.UrlPathParam}}/update" method="POST">
					<input type="hidden" name="id" id="id" value="{{.Data.Id}}">
					<ul class="save-ul">
						<li>
							<div class="left">
								ID
							</div>
							<div class="right">
								<input class="input" type="text" readonly name="id" value="{{.Data.Id}}">
							</div>
						</li>
						<li>
							<div class="left">
								基础路径
							</div>
							<div class="right">
								<input class="input" type="text" name="basePath" value="{{.Data.BasePath}}">
							</div>
						</li>
						<li>
							<div class="left">
								jwt密钥
							</div>
							<div class="right">
								<input class="input" type="text" name="jwtSecret" value="{{.Data.JwtSecret}}">
							</div>
						</li>
						<li>
							<div class="left">
								jwt的key
							</div>
							<div class="right">
								<input class="input" type="text" name="jwttokenKey" value="{{.Data.JwttokenKey}}">
							</div>
						</li>
						<li>
							<div class="left">
								服务器ip:端口
							</div>
							<div class="right">
								<input class="input" type="text" name="serverPort" value="{{.Data.ServerPort}}">
							</div>
						</li>
						<li>
							<div class="left">
								主题
							</div>
							<div class="right">
								<input class="input" type="text" name="theme" value="{{.Data.Theme}}">
							</div>
						</li>
						<li>
							<div class="left">
								超时时间
							</div>
							<div class="right">
								<input class="input" type="text" name="timeout" value="{{.Data.Timeout}}">
							</div>
						</li>
						
					</ul>

					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<button type="submit" class="button is-success is-small">提交</button>
						</div>
						<div class="control">
							<button type="reset" class="button is-info is-light is-small">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	const form = document.getElementById('gpress-form')
	form.addEventListener('submit', async event => {
		event.preventDefault()

		const formData = new FormData(form)
		const jsonObject = {}
		for (const [key, value] of formData.entries()) {
			const fieldType = document.querySelector(key)
							jsonObject[key] = value
		}
		jsonObject.sortNo = jsonObject.sortNo-0
		jsonObject.status = jsonObject.status-0

		const response = await fetch(form.action, {
			method: form.method,
			body: JSON.stringify(jsonObject),
			headers: { 'Content-Type': 'application/json', }
		})
	
		let res = await response.json()
		if (res.statusCode == 1) {
			$.confirm({
				useBootstrap: false,
				boxWidth: '400px',
				title: '提示',
				content: '修改成功！',
				type: 'green',
				buttons: {
					'确定': function() {
						window.location.href = '{{basePath}}admin/{{.UrlPathParam}}/list'
					}
				}
			})
		}
	})
</script>

{{template "admin/bodyend.html"}}
