{{ $convertJson := convertJson $.Data }}
{{template "admin/header.html"}}
<title>主题模板 - GPRESS</title>
<link href="{{basePath}}admin/css/tree.css" rel="stylesheet">

{{template "admin/bodystart.html"}}

<div class="layui-col-space10" style="height: 100%;">
	<div class="layui-col-md4" style="height: 100%;">
		<div class="layui-panel" style="height: 100%; padding: 5px;overflow: auto;">
			<input type="hidden" id="file"  value="" />
		  <div class="layui-form-item" style="padding: 5px;text-align: center;">
			<div class="layui-inline">
				<button type="button" class="layui-btn" id="button-upload-theme" title="仅支持zip格式">
					<i class="layui-icon layui-icon-upload"></i> 上传主题
				</button>
			</div>
			<div class="layui-inline">
				<button onclick="themeMarket()" type="button" class="layui-btn layui-bg-blue">
					<i class="layui-icon layui-icon-theme"></i> 主题市场
				</button>
			</div>
			<div class="layui-inline">
				<button onclick="updateContent();" type="button" class="layui-btn layui-bg-blue">保存文件</button>
			</div>  
		  </div>
			
		<div class="tree" id="tree">
		</div>

	  </div>
	</div>
	<div class="layui-col-md8" style="height: 100%;position: relative;">
		<div style="position: absolute;left: 5px;right: 5px;top: 5px;bottom: -5px;">
			<textarea id="content" placeholder="左侧选择要修改的文件,这里显示文件内容,进行编辑修改,点击 保存文件 按钮,保存修改的内容." style="height: 100%;  border-color: #16b777;box-shadow: 0 0 0 3px rgba(22,183,119,.08);" class="layui-textarea">{{.ExtMap.file}}</textarea>
		</div>
	</div>

  </div>
{{template "admin/bodyend.html"}}

<script>
	var layer;
	var $;
	var table;
	layui.use(function () {
		layer = layui.layer;
		var upload = layui.upload;
		$ = layui.jquery;
		table=layui.table;

		var dropdown = layui.dropdown;
		const categoryData = JSON.parse("{{ $convertJson }}");
		const treeData = buildTree(categoryData);
		
		// 将树形结构渲染到页面上
		renderTree($('#tree'), treeData);

		const query = window.location.search;
		const params = new URLSearchParams(query)
		var file = params.get("file")
		if (file && file != "") {
			$("#file").val(file)
		}

		//选中高亮
		if (file && file != "") {//被选中
			var paths = file.split("/");
			var selectFile=""
			for (i = 0; i < paths.length; i++) {
				var code = paths[i];
				if(i==0){
					selectFile=code
				}else{
					selectFile=selectFile+"/"+code
				}
				document.getElementById("tree_a_" + selectFile).style="color:#1e9fff";
				document.getElementById("details_" + selectFile).open=true;
			}

		}

			// 上传文件
			upload.render({
			elem: '#button-upload-theme',
			url: '{{basePath}}admin/{{.UrlPathParam}}/uploadTheme', // 此处配置你自己的上传接口即可
			size: 10 * 1024, // 限制文件大小,单位 KB
			accept: 'file',
			exts: 'zip',
			acceptMime: 'application/zip',
			text: { // 自定义提示文本
			"data-format-error": "仅支持zip格式", // 数据格式错误的提示
			"check-error": "仅支持zip格式", // 文件格式校验失败的提示
			},
			done: function (res) {
				if (res.statusCode == 1) {
				  layer.msg("上传成功",function(){
				    location.reload();
				  });
				}else{
					layer.msg("上传错误!");
				}
				
			}
		});
	});

	function submitListForm() {
		document.getElementById("listForm").submit();
	}
	// 渲染树形菜单结构
	function renderTree(container, data) {
		const details = container;
		data.forEach(node => {
			const detailsHtml = $(
				`<details id="details_${node.id}">
					<summary class="tree-item">
						<a id="tree_a_${node.id}" href="javascript:showFileContent('${node.id}','${node.fileType}');">${node.name}</a> 
					</summary>
				</details>`
			);

			if (node.children) {
				renderTree(detailsHtml, node.children);
			}
			details.append(detailsHtml);
		});
		container.append(details);
	}

	// 平行数据组装树形结构数据
	function buildTree(data) {
		const roots = data.filter(item => !item.pid);// 找到没有父节点的项，即顶级节点
		// 递归构建树
		function buildHierarchy(parent) {
			const children = data.filter(item => item.pid === parent.id);
			if (children.length > 0) {
				parent.children = children;
				children.forEach(child => buildHierarchy(child));
			}
		}
		// 为每个顶级节点构建树
		roots.forEach(root => buildHierarchy(root));
		return roots;
	}


	function showFileContent(nodeId,fileType){
		if(fileType=="dir"){
			var details=document.getElementById("details_"+nodeId);
			if(!details.open){
			  document.getElementById("details_"+nodeId).open="true";
			}else{
			  details.open=undefined;
			}
			return false;
		}
		window.location.href = basePath + 'admin/{{.UrlPathParam}}/list?file=' + nodeId;
	}

    function updateContent(){
      var file=$("#file").val();
	  if(file==""){
		layer.msg("请选择要修改的文件");
		return false;
	  }
	  var content=$("#content").val();
	  $.ajax({
			url: basePath+"admin/themeTemplate/update",
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			data: JSON.stringify({"filePath":file,"fileContent":content}),
			error: function () {
				layer.msg("修改错误,请重试!");
			},
			success: function (result) {
				if (result.statusCode == 1) {
					layer.msg("修改成功");
				} else {
					layer.msg("修改失败!");
				}
			}
		});
    }


var themeData;
function themeMarket(){
	if(!!themeData){
	  layer.open({
        type: 1,
		title:"主题市场",
		shadeClose: true, 
        area: ['800px', 'auto'], // 宽高
        content: $('#ID-themeMarket-layer-wrapper'), 
      });
	  return;
	}
		$.ajax({
			url:'https://www.gpress.cn/json/themes.json',
			type:"get",
			async: false,
			contentType:"application/json;charset=utf-8",
			dataType:"json",
			crossDomain: true, // 明确告诉jQuery请求是跨域的  
			success:function(result){
				themeData=result;
			}
		})
    

// 数据渲染
var inst = table.render({
    elem: '#ID-table-themeMarket',
	//url: 'https://www.gpress.cn/themes.json', // 此处为静态模拟数据，实际使用时需换成真实接口
    data: themeData,
	cols: [[ //标题栏
      {field: 'themeName', title: '主题名称', width: 150, templet: function(d){return '<a target="_blank" href="'+d.gitURL+'" > '+d.themeName+' </a>';}},
	  {field: 'star', title: 'star', width: 100,sort: true},
      {field: 'themeVersion', title: '版本', width: 100},
      {field: 'themeType', title: '主题分类', width: 100},
      {field: 'gpressVersion', title: '兼容版本', width: 100},
      {field: 'screenshot', title: '预览图', width: 100, templet: function(d){return '<img src="'+d.screenshot+'" onclick=showScreenshot("'+d.themeName+'","'+d.screenshot+'"); height="30px" />';}},
	  {field: 'download', title: '下载', width: 85, templet: function(d){return '<a target="_blank" href="'+d.download+'" > 下载 </a>';}}
    ]],
    //skin: 'line', // 表格风格
    //even: true,
    page: true, // 是否显示分页
    //limits: [5, 10, 15],
    limit: 5 // 每页默认显示的数量
    });

	layer.open({
        type: 1,
		title:"主题市场",
		shadeClose: true, 
        area: ['800px', 'auto'], // 宽高
        content: $('#ID-themeMarket-layer-wrapper'), 
      });
}

function showScreenshot(title,src){
   layer.photos({
    photos: { // 图片层的数据源
    "title": title, // 相册标题
    "start": 0, // 初始显示的图片序号，默认 0
    "data": [   // 相册包含的图片，数组格式
      {
        "src": src, // 原图地址
      },
      // …
    ]
  }
  
});
}

</script>

<div id="ID-themeMarket-layer-wrapper" style="display: none;padding: 20px;">
	<table class="layui-hide" id="ID-table-themeMarket"></table>
</div>