{{ $convertJson := convertJson $.Data }}
{{template "admin/header.html"}}
<title>主题模板 - GPRESS</title>
<link href="{{basePath}}admin/css/tree.css" rel="stylesheet">

{{template "admin/bodystart.html"}}

<div class="layui-col-space10" style="height: 100%;">
	<div class="layui-col-md4" style="height: 100%;">
		<div class="layui-panel" style="height: 100%; padding: 5px;overflow: auto;">
			<form id="listForm" action="{{basePath}}admin/{{.UrlPathParam}}/list" method="POST" style="text-align: center;padding-top: 5px;">
				<input type="hidden" id="file"  value="" />
			  <div class="layui-form-item">
				<div class="layui-inline">
				<button type="button" class="layui-btn" id="button-upload-theme">
					<i class="layui-icon layui-icon-upload"></i> 上传主题
				</button>
				</div>
				<div class="layui-inline">
				<a href="{{basePath}}admin/{{.UrlPathParam}}/save" class="layui-btn layui-bg-blue">保存修改</a>
			    </div>  
			</div>
			</form>
			
			<div class="tree" id="tree">

			</div>
		</div>
	</div>
	<div class="layui-col-md8" style="height: 100%;">
		<div style="height: 100%;padding:0px;">
			<textarea id="fileContent" placeholder="文件内容" style="height: 100%;" class="layui-textarea">{{.ExtMap.file}}</textarea>
		</div>
	</div>

  </div>
{{template "admin/bodyend.html"}}

<script>
	var layer;
	var $;
	layui.use(function () {
		layer = layui.layer;
		var upload = layui.upload;
		$ = layui.jquery;

		var dropdown = layui.dropdown;
		const categoryData = JSON.parse("{{ $convertJson }}");
		const treeData = buildTree(categoryData);
		
		// 将树形结构渲染到页面上
		renderTree($('#tree'), treeData);

		const query = window.location.search;
		const params = new URLSearchParams(query)
		var file = params.get("file")
		if (file && file != "") {
			$("#id").val(file)
		}

		//选中高亮
		if (file && file != "") {//被选中
			var paths = file.split("/");
			var selectFile=""
			for (i = 0; i < paths.length; i++) {
				var code = paths[i];
				if(i==0){
					selectFile=code
				}else{
					selectFile=selectFile+"/"+code
				}
				document.getElementById("tree_a_" + selectFile).style="color:#1e9fff";
				document.getElementById("details_" + selectFile).open=true;
			}

		}

			// 上传文件
			upload.render({
			elem: '#button-upload-theme',
			url: '{{basePath}}{{.UrlPathParam}}/uploadTheme', // 此处配置你自己的上传接口即可
			size: 10 * 1024, // 限制文件大小,单位 KB
			accept: 'file',
			exts: 'zip',
			acceptMime: 'application/zip',
			done: function (res) {
				if (res.statusCode == 1) {
					
				}
				console.log(res);
			}
		});

		// 导航菜单下来事件绑定
		dropdown.render({
			elem: '.tips-dropdown',
			trigger: 'hover',
			data: [{ id: "1", title: '新增文件' },{ id: "2", title: '新增目录' }, { id: "3", title: '重命名' }, { id: "4", title: '删除' }],
			click: function (data, othis) {
				let categoryId = this.elem.attr("id");
				if (data.id == "1") {
					window.location.href = basePath + 'admin/{{.UrlPathParam}}/save?categoryID=' + categoryId;
				} else if (data.id == "2") {
					window.location.href = basePath + 'admin/{{.UrlPathParam}}/update?pid=' + categoryId;
				} else if (data.id == "3") {
					deleteFunc(categoryId, basePath + 'admin/{{.UrlPathParam}}/delete');
				}else if (data.id == "4") {
					deleteFunc(categoryId, basePath + 'admin/{{.UrlPathParam}}/delete');
				}
				//console.log(data.id); // 当前所点击的菜单项对应的数据
				//console.log(othis); // 当前所点击的菜单项元素对象
				//console.log(this.elem.attr("id")); // 当前组件绑定的目标元素对象，批量绑定中常用
			}
		});

	});

	function deleteFunc(id, url) {
		layer.confirm('确认删除?', {
			icon: 3,
			title: "确认",
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: url,
				data: { "id": id },
				success: function (res) {
					if (res.statusCode === 1) {
						layer.msg("删除成功", function () {
							location.reload();
						});
					}
				}
			});
		});
	}

	function submitListForm() {
		document.getElementById("listForm").submit();
	}
	// 渲染树形菜单结构
	function renderTree(container, data) {
		const details = container;
		data.forEach(node => {
			const detailsHtml = $(
				`<details id="details_${node.id}">
					<summary class="tree-item">
						<a id="tree_a_${node.id}" href="javascript:showFileContent('${node.id}','${node.fileType}');">${node.name}</a> 
						<i class="layui-icon layui-icon-tips tips-dropdown" id="${node.id}" ></i>
					</summary>
				</details>`
			);

			if (node.children) {
				renderTree(detailsHtml, node.children);
			}
			details.append(detailsHtml);
		});
		container.append(details);
	}

	// 平行数据组装树形结构数据
	function buildTree(data) {
		const roots = data.filter(item => !item.pid);// 找到没有父节点的项，即顶级节点
		// 递归构建树
		function buildHierarchy(parent) {
			const children = data.filter(item => item.pid === parent.id);
			if (children.length > 0) {
				parent.children = children;
				children.forEach(child => buildHierarchy(child));
			}
		}
		// 为每个顶级节点构建树
		roots.forEach(root => buildHierarchy(root));
		return roots;
	}


	function showFileContent(nodeId,fileType){
		if(fileType=="dir"){
			return false;
		}
		window.location.href = basePath + 'admin/{{.UrlPathParam}}/list?file=' + nodeId;
	}

</script>