{{ $convertJson := convertJson $.Data }}
{{template "admin/header.html"}}
<title>主题模板 - GPRESS</title>
<link href="{{basePath}}admin/css/tree.css" rel="stylesheet">

{{template "admin/bodystart.html"}}

<div class="layui-col-space10" style="height: 100%;">
	<div class="layui-col-md4" style="height: 100%;">
		<div class="layui-panel" style="height: 100%; padding: 5px;overflow: auto;">
			<input type="hidden" id="file"  value="" />
			<div class="layui-form-item">
			<div class="layui-inline">
				<button type="button" class="layui-btn" id="button-upload-theme" title="仅支持zip格式">
					<i class="layui-icon layui-icon-upload"></i> 上传主题
				</button>
			</div>
			<div class="layui-inline">
				<button type="button" class="layui-btn layui-bg-blue">
					<i class="layui-icon layui-icon-theme"></i> 主题市场
				</button>
			</div>
			<div class="layui-inline">
				<button onclick="updateContent();" type="button" class="layui-btn layui-bg-blue">保存文件</button>
			</div>  
		</div>
			
		<div class="tree" id="tree">
		</div>

	  </div>
	</div>
	<div class="layui-col-md8" style="height: 100%;">
		<div style="height: 100%;padding:0px;">
			<textarea id="content" placeholder="文件内容" style="height: 100%;" class="layui-textarea">{{.ExtMap.file}}</textarea>
		</div>
	</div>

  </div>
{{template "admin/bodyend.html"}}

<script>
	var layer;
	var $;
	layui.use(function () {
		layer = layui.layer;
		var upload = layui.upload;
		$ = layui.jquery;

		var dropdown = layui.dropdown;
		const categoryData = JSON.parse("{{ $convertJson }}");
		const treeData = buildTree(categoryData);
		
		// 将树形结构渲染到页面上
		renderTree($('#tree'), treeData);

		const query = window.location.search;
		const params = new URLSearchParams(query)
		var file = params.get("file")
		if (file && file != "") {
			$("#file").val(file)
		}

		//选中高亮
		if (file && file != "") {//被选中
			var paths = file.split("/");
			var selectFile=""
			for (i = 0; i < paths.length; i++) {
				var code = paths[i];
				if(i==0){
					selectFile=code
				}else{
					selectFile=selectFile+"/"+code
				}
				document.getElementById("tree_a_" + selectFile).style="color:#1e9fff";
				document.getElementById("details_" + selectFile).open=true;
			}

		}

			// 上传文件
			upload.render({
			elem: '#button-upload-theme',
			url: '{{basePath}}admin/{{.UrlPathParam}}/uploadTheme', // 此处配置你自己的上传接口即可
			size: 10 * 1024, // 限制文件大小,单位 KB
			accept: 'file',
			exts: 'zip',
			acceptMime: 'application/zip',
			text: { // 自定义提示文本
			"data-format-error": "仅支持zip格式", // 数据格式错误的提示
			"check-error": "仅支持zip格式", // 文件格式校验失败的提示
			},
			done: function (res) {
				if (res.statusCode == 1) {
				  layer.msg("上传成功",function(){
				    location.reload();
				  });
				}else{
					layer.msg("上传错误!");
				}
				
			}
		});
	});

	function submitListForm() {
		document.getElementById("listForm").submit();
	}
	// 渲染树形菜单结构
	function renderTree(container, data) {
		const details = container;
		data.forEach(node => {
			const detailsHtml = $(
				`<details id="details_${node.id}">
					<summary class="tree-item">
						<a id="tree_a_${node.id}" href="javascript:showFileContent('${node.id}','${node.fileType}');">${node.name}</a> 
					</summary>
				</details>`
			);

			if (node.children) {
				renderTree(detailsHtml, node.children);
			}
			details.append(detailsHtml);
		});
		container.append(details);
	}

	// 平行数据组装树形结构数据
	function buildTree(data) {
		const roots = data.filter(item => !item.pid);// 找到没有父节点的项，即顶级节点
		// 递归构建树
		function buildHierarchy(parent) {
			const children = data.filter(item => item.pid === parent.id);
			if (children.length > 0) {
				parent.children = children;
				children.forEach(child => buildHierarchy(child));
			}
		}
		// 为每个顶级节点构建树
		roots.forEach(root => buildHierarchy(root));
		return roots;
	}


	function showFileContent(nodeId,fileType){
		if(fileType=="dir"){
			return false;
		}
		window.location.href = basePath + 'admin/{{.UrlPathParam}}/list?file=' + nodeId;
	}

    function updateContent(){
      var file=$("#file").val();
	  var content=$("#content").val();
	  $.ajax({
			url: basePath+"admin/themeTemplate/update",
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			data: JSON.stringify({"filePath":file,"fileContent":content}),
			error: function () {
				layer.msg("修改错误,请重试!");
			},
			success: function (result) {
				if (result.statusCode == 1) {
					layer.msg("修改成功");
				} else {
					layer.msg("修改失败!");
				}
			}
		});
	}

</script>