<link rel="stylesheet" type="text/css" href="{{basePath}}admin/css/navigation.css">
<script type="text/javascript" src="{{basePath}}admin/js/navigation.js"></script>
</head>
<body>
    <div id="layout" class="is-gapless">

      <a id="menuLink" role="button" class="navbar-burger burger menu-link" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <div id="menu">
        <nav role="navigation" aria-label="main navigation">
          <div>
            <div class="gpress-menu">
              <ul class="menu-list">
                <li><a href="{{basePath}}admin/index" class="menu-heading">GPRESS</a></li>
              </ul>
              <ul class="menu-list">
                <li><a href="{{basePath}}admin/indexInfo/list">表信息</a></li>
                <li><a href="{{basePath}}admin/indexField/list">表字段</a></li>
              </ul>
              <ul class="menu-list">
                <li><a href="{{basePath}}admin/user/list">用户信息</a></li>
                <li><a>Grids</a></li>
                <li><a>Forms</a></li>
                <li><a>Buttons</a></li>
                <li><a>Tables</a></li>
                <li><a>Menus</a></li>
              </ul>
              <ul class="menu-list">
                <li><a>Tools</a></li>
                <li><a>Customize</a></li>
                <li><a>Extend</a></li>
                <li><a>Releases</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- 右侧内容 -->
      <div id="main">