<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="国产高性能内容平台,基于Hertz + Go template + FTS5全文检索实现,100M内存即可完美运行">
    <link rel="icon" type="image/png" sizes="16x16" href="{{basePath}}public/favicon.png">
    <link href="{{basePath}}admin/js/layui/css/layui.css" rel="stylesheet">
    <script src="{{basePath}}admin/js/layui/layui.js"></script>
    <script>
        const basePath="{{basePath}}";
    </script>
