<!DOCTYPE html>
<html  lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="云原生高性能内容平台,基于Hertz + Go template + Bleve全文检索实现,100M内存即可完美运行">
    <link rel="icon" type="image/png" sizes="16x16" href="{{basePath}}public/favicon.png">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bulma/0.9.4/css/bulma.min.css" />
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.4/jquery.min.js"></script>
    <!--
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery.form/4.3.0/jquery.form.min.js"></script>
    -->