{{template "/admin/header.html"}}
  <title>Admin - GPRESS</title>
  <link rel="stylesheet" type="text/css" href="{{basePath}}admin/css/admin.css">
</head>

<body>

    <div id="layout" class="is-gapless">

      <a id="menuLink" role="button" class="navbar-burger burger menu-link" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <div id="menu">
        <nav role="navigation" aria-label="main navigation">
          <div>
            <div class="gpress-menu">
              <ul class="menu-list">
                <li><a href="{{basePath}}" class="menu-heading">GPRESS</a></li>
              </ul>
              <ul class="menu-list">
                <li><a>Get Started</a></li>
                <li><a>Layouts</a></li>
              </ul>
              <ul class="menu-list">
                <li><a>Base</a></li>
                <li><a>Grids</a></li>
                <li><a>Forms</a></li>
                <li><a>Buttons</a></li>
                <li><a>Tables</a></li>
                <li><a>Menus</a></li>
              </ul>
              <ul class="menu-list">
                <li><a>Tools</a></li>
                <li><a>Customize</a></li>
                <li><a>Extend</a></li>
                <li><a>Releases</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- 右侧内容 -->
      <div id="main" >
        
        <h1>Documentation</h1>
        <h2>Everything you need to create a website with Bulma</h2>
        <div>
          右侧内容区域
        </div>

      </div>

  
    </div>
    
  </body>
  </html>


  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = document.getElementById("menuLink");
      const $layout =  document.getElementById("layout");
      const $menu =  document.getElementById("menu");
      const $main =  document.getElementById("main");
  
      $navbarBurgers.addEventListener('click', () => {
        // 切换菜单的可见性
        $navbarBurgers.classList.toggle('is-active');
        $layout.classList.toggle('is-active');
        $menu.classList.toggle('is-active');
        $main.classList.toggle('is-active');
        if($main.classList.contains('is-active')){
          // console.log('window.innerWidth',window.innerWidth)
          $layout.style.minWidth = (window.innerWidth + 160) + "px";
          // console.log('$layout.style.minWidth',$layout.style.minWidth)
        }else{
          $layout.style.minWidth = (screen.width) + "px";
        }
      });
    });
  </script>