{{template "admin/header.html"}}
<title>Admin - GPRESS</title>
<link rel="stylesheet" type="text/css" href="{{basePath}}admin/css/tree.css">
{{template "admin/bodystart.html"}}


<div class="welcome-wrapper">

	<div class="left">

	 
		 
			 
		<div class="searchMenu">
			<input class="input" type="text" name="q" id="q" placeholder="输入搜索内容...">
			<button class="button is-primary" style="margin-left: 20px" type="submit">搜索</button>
		</div>
			 
	 
		<div class="tree" id="tree">
			<details>
			  <summary class="tree-item">
				项目1
			  </summary>
			  <details>
				<summary class="tree-item">
				  文件夹
				</summary>
				<details>
				  <summary class="tree-item">
					sdd
				  </summary>
				</details>
			  </details>
			  <details>
				<summary class="tree-item">
				  chrome test
				</summary>
			  </details>
			</details>
			<details>
			  <summary class="tree-item">
				项目2
			  </summary>
			  <details>
				<summary class="tree-item">
				  文件夹2-1
				</summary>
				<details>
				  <summary class="tree-item">
					文件夹2-1-1
				  </summary>
				  <details>
					<summary class="tree-item">
					  文件夹2-1-1-1
					</summary>
					<details>
					  <summary class="tree-item">
						文件夹2-1-1-1-1
					  </summary>
					  <details>
						<summary class="tree-item">
						  文件夹2-1-1-1-1-1
						</summary>
					  </details>
					</details>
				  </details>
				</details>
			  </details>
			</details>
			<details>
			  <summary class="tree-item">
				文件夹1
			  </summary>
			  <details>
				<summary class="tree-item">
				  文件夹
				</summary>
			  </details>
			  <details>
				<summary class="tree-item">
				  文件夹2
				</summary>
			  </details>
			</details>
			<details>
			  <summary class="tree-item">
				项目3
			  </summary>
			  <details>
				<summary class="tree-item">
				  文件夹1
				</summary>
				<details>
				  <summary class="tree-item">
					1
				  </summary>
				  <details>
					<summary class="tree-item">
					  文件夹2
					</summary>
				  </details>
				</details>
			  </details>
			  <details>
				<summary class="tree-item">
				  文件夹
				</summary>
			  </details>
			  <details>
				<summary class="tree-item">
				  文件夹
				</summary>
			  </details>
			  <details>
				<summary class="tree-item">
				  文件夹
				</summary>
			  </details>
			  <details>
				<summary class="tree-item">
				  文件夹的副本
				</summary>
			  </details>
			  <details>
				<summary class="tree-item">
				  点点点
				</summary>
			  </details>
			  <details>
				<summary class="tree-item">
				  hewei
				</summary>
				<details>
				  <summary class="tree-item">
					hewei02
				  </summary>
				</details>
			  </details>
			</details>
		  </div>
	</div>  
	<div class="right"></div>  
</div>
{{template "admin/bodyend.html"}}
