{{template "/admin/header.html"}}


    <title>Admin - GPRESS</title>
    <link rel="stylesheet" type="text/css" href="{{basePath}}admin/css/admin.css">
</head>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      // 获取菜单按钮和菜单项
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      const $navbarMenus = Array.prototype.slice.call(document.querySelectorAll('.navbar-menu'), 0);
  
      // 添加点击事件
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach($el => {
          $el.addEventListener('click', () => {
            const target = $el.dataset.target;
            const $target = document.getElementById(target);
  
            // 切换菜单的可见性
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>

<body>

    <div class="columns is-gapless">
  
      <div class="column is-one-fifth">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
    
          <div id="navbarMenu" class="navbar-menu">
            <div class="gpress-menu">
              <ul class="menu-list">
                <li><a href="{{basePath}}" class="menu-heading">GPRESS</a></li>
            </ul>
            <ul class="menu-list">
                <li><a>Get Started</a></li>
                <li><a>Layouts</a></li>
            </ul>
            <ul class="menu-list">
                <li><a>Base</a></li>
                <li><a>Grids</a></li>
                <li><a>Forms</a></li>
                <li><a>Buttons</a></li>
                <li><a>Tables</a></li>
                <li><a>Menus</a></li>
            </ul>
            <ul class="menu-list">
                <li><a>Tools</a></li>
                <li><a>Customize</a></li>
                <li><a>Extend</a></li>
                <li><a>Releases</a></li>
            </ul>
            </div>
          </div>
        </nav>
      </div>
    
      <div class="column">
        <!-- 右侧内容 -->
      </div>
  
    </div>
    
  
  </body>
  </html>