{{template "admin/header.html"}}
  <title>indexInfo - GPRESS</title>
{{template "admin/bodystart.html"}}

{{ $indexFiled := indexFiled .urlPathIndexName }}

<section class="section">
  <div class="container">
    <!-- 搜索表单 -->
    <form class="field is-horizontal" action="{{basePath}}admin/{{.urlPathIndexName}}/list" method="GET">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" name="q" placeholder="Search...">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit">Search</button>
          </div>
        </div>
      </div>
    </form>

    <!-- 列表 -->
    <table class="table is-fullwidth">

     
      <thead>
        <tr>
          <!-- 循环表头 -->
          {{ range $indexFiled }}
          <th>{{.FieldName}}</th>
          {{end }}
        </tr>
      </thead>
      <tbody>
        <!-- 循环所有的数据 -->
        {{ range $i,$v := .data }}
        <tr>
          <!-- 循环表头,需要和表格的表头对应 -->
          {{ range $indexFiled }}
          <!-- 获取每一列的值 -->
          <td> {{ index $v .FieldCode }}</td>
          {{end }}
        </tr>
        {{end }}
       
      </tbody>

    </table>

    <!-- 分页条 -->
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a class="pagination-previous">上一页</a>
      <a class="pagination-next">下一页</a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link" aria-label="总条数">共 {{ .page.TotalCount }} 条</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="总页数">共 {{ .page.PageCount }} 页</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link is-current" aria-label="当前页" aria-current="page">{{ .page.PageNo }}</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="跳转到第2页">2</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="跳转到第3页">3</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="跳转到最后一页">10</a>
        </li>
      </ul>
      <div class="pagination-page">
        <input class="input is-small" type="text" placeholder="页码">
        <button class="button is-small">跳转</button>
      </div>
    </nav>
    




  </div>
</section>




        
{{template "admin/bodyend.html"}}
     
