<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{{basePath}}/public/favicon.png">
    <!-- Bulma Version 0.9.4-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/bulma/0.9.4/css/bulma.min.css" />

    <title>Login - gpress</title>
    <link rel="stylesheet" type="text/css" href="{{basePath}}/admin/css/login.css">

</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">登录</h3>
                    <hr class="login-hr">
                    
                    <div class="box">
                        
                        <figure class="avatar">
                            <img src="{{basePath}}/public/logo.png">
                        </figure>

                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="请输入账号" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                  <input type="checkbox">
                  记住我
                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">登录 <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="../">注册</a> &nbsp;·&nbsp;
                        <a href="../">忘记密码</a> &nbsp;·&nbsp;
                        <a href="../">联系我们</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
