{{template "admin/header.html"}}
  <title>indexInfo - GPRESS</title>
{{template "admin/bodystart.html"}}
{{ $indexFiled := indexFiled .urlPathIndexName }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9-desktop is-9-tablet">
        <form id="gpress-form" action="/" method="POST">
          {{ $data := .data }}
          {{ range $indexFiled }}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">{{.FieldName}}</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text"  id ="{{.FieldCode}}" value="{{ index $data .FieldCode }}"  readonly="readonly"  >
                </div>
              </div>
            </div>
          </div>
          {{end}}

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button type="button" class="button is-primary" onclick="EditThis()" >Edit</button>
          </div>
          <div class="control">
            <button type="reset" class="button is-info is-light">Clear</button>
          </div>
        </div>
          <input type="text" value="{{.urlPathIndexName}}"  id="urlName" style="display:none">
        </form>
      </div>
    </div>
  </div>
</section>

    <script>
      function EditThis(){
        var idValue =  $("#id").val();
        var tmp=document.getElementById("urlName").value;
        var urlName= tmp+"/update"
        console.log(urlName)
        $.ajax ({
          type:'Get',
          async:false,
          url:'http://localhost:660/admin/'+urlName,
          data:{id: idValue},
          success:function(res){
            $("#showHtml").html(res);
          }
        })

      }

    </script>




        
{{template "admin/bodyend.html"}}
     
