{{template "admin/header.html"}}
  <title>look - GPRESS</title>
{{template "admin/bodystart.html"}}
{{ $indexFiled := indexFiled .urlPathParam }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9-desktop is-9-tablet">
        <form id="gpress-form" action="/" method="POST">
          {{ $data := . }}
          {{ range $indexFiled }}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">{{.FieldName}}</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text"  id ="{{.FieldCode}}" value="{{ index $data .FieldCode }}"  readonly="readonly"  >
                </div>
              </div>
            </div>
          </div>
          {{end}}

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <a href="{{basePath}}admin/{{.urlPathParam}}/update?id={{$data.id}}"  class="button is-info is-light">edit</a>
          </div>
          <div class="control">
            <button type="reset" class="button is-info is-light">Clear</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

        
{{template "admin/bodyend.html"}}
     
