{{template "admin/header.html"}}
<title>look - gpress</title>
{{template "admin/bodystart.html"}}
{{ $tableFiled := tableFiled .urlPathParam }}
<section class="section">
	<div class="container">
		<div class="table-content">
			<div class="column">
				<form id="gpress-form" action="/" method="POST">
					{{ $data := . }}
					{{ range $tableFiled }}
					<div class="field is-horizontal flex-center">
						<div class="field-left" style="width: 180px;">
							<label class="label">{{.FieldName}}</label>
						</div>
						<div class="field-right" style="width: 340px;">
							<div class="field">
								<div class="control">
									<input class="input" type="text" id="{{.FieldCode}}"
										value="{{ index $data .FieldCode }}" disabled="disabled">
								</div>
							</div>
						</div>
					</div>
					{{end}}

					<div class="field is-grouped" style="padding-left: 190px;">
						<div class="control">
							<a href="{{basePath}}admin/{{.urlPathParam}}/update?id={{$data.id}}"
								class="button is-primary">编辑</a>
						</div>
						<div class="control">
							<button type="reset" class="button is-info is-light">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


{{template "admin/bodyend.html"}}
