{{template "admin/header.html"}}
  <title>indexInfo - GPRESS</title>
{{template "admin/bodystart.html"}}
{{ $indexFiled := indexFiled .urlPathIndexName }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9-desktop is-9-tablet">
        <form id="gpress-form" action="{{basePath}}admin/{{.urlPathIndexName}}/update" method="POST">
          {{ $data := .data }}
          {{ range $indexFiled }}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">{{.FieldName}}</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" name="{{.FieldCode}}"  id ="{{.FieldCode}}" value="{{ index $data .FieldCode }}">
                </div>
              </div>
            </div>
          </div>
          {{end}}

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button type="submit" class="button is-primary">Submitsss</button>
          </div>
          <div class="control">
            <button type="reset" class="button is-info is-light">Clear</button>
          </div>
        </div>

        </form>
      </div>
    </div>
  </div>
</section>

    <script>
      const form = document.getElementById("gpress-form");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(form);

        const jsonObject = {};
        for (const [key, value] of formData.entries()) {
          jsonObject[key] = value;
        }
        console.log('jsonObject',jsonObject);

        const response = await fetch(form.action, {
          method: form.method,
          body: JSON.stringify(jsonObject),
          headers: {
            "Content-Type": "application/json"
          }
        });
        console.log(await response.json());
      });

    </script>




        
{{template "admin/bodyend.html"}}
     
