@font-face {
  font-family: "iconfont"; /* Project id 4079714 */
  src: url('iconfont.woff2?t=1684736626143') format('woff2'),
       url('iconfont.woff?t=1684736626143') format('woff'),
       url('iconfont.ttf?t=1684736626143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e605";
}

.icon-shangchuan:before {
  content: "\e61c";
}

