@font-face {
  font-family: "iconfont"; /* Project id 4079714 */
  src: url('iconfont.woff2?t=1701331290889') format('woff2'),
       url('iconfont.woff?t=1701331290889') format('woff'),
       url('iconfont.ttf?t=1701331290889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduocaozuo:before {
  content: "\e63f";
}

.icon-yingyong:before {
  content: "\e65a";
}

.icon-guanbi2:before {
  content: "\e725";
}

.icon-wangluo:before {
  content: "\e641";
}

.icon-moban:before {
  content: "\e6ee";
}

.icon-shuaxin:before {
  content: "\e61d";
}

.icon-tuichu:before {
  content: "\e634";
}

.icon-fabiaowenzhang:before {
  content: "\e648";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-kebiaoxinxi:before {
  content: "\e684";
}

.icon-yonghuxinxi:before {
  content: "\e635";
}

.icon-caidan:before {
  content: "\e60e";
}

.icon-wenzhangguanli:before {
  content: "\e652";
}

.icon-caidan1:before {
  content: "\e630";
}

.icon-ziduankongzhi:before {
  content: "\e6bb";
}

.icon-biaoge:before {
  content: "\e617";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-zhandianguanli:before {
  content: "\e65b";
}

.icon-tubiao-:before {
  content: "\e654";
}

.icon-shanchu:before {
  content: "\e605";
}

.icon-shangchuan:before {
  content: "\e61c";
}

